@import url("/dmmono/font.css");
@import url("/plusjakartasans/font.css");
@import url("/test.css");
@import url("/petrel/dark.css");
@import url("/petrel/highlight.css");
@import url("https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.47.0/tabler-icons.min.css");

* {
  font-family: "DM Mono", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;

  background: #212531;
  color: #FFF;
}

app-root {
  height: 100%;
}

.icon-button {
  font-size: 16px;
  border-radius: 20px;
  padding: 2px;
  cursor: pointer;

  &:hover {
    background: #ffffff55;
  }
}

.btn {
  padding: 7px 14px;
  background: #FFFFFF22;
  color: #FFF;
  border: none;
  border-radius: 8px;
  margin-left: 6px;
  cursor: pointer;
  font-size: 13px;

  &.primary {
    background: #3469ff;
  }
}

.top-bar {
  display: grid;
  grid-template-columns: 300px auto 300px;
  align-content: center;
  align-items: center;
  padding: 0 10px;
  height: 44px;

  .top-bar-buttons {
    justify-self: right;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }
}